{% extends 'base.html.twig' %}

{% block title %}Etude{% endblock %}

{% block body %}
    <h1 class="center maj">LISTE DES PLAGES DE <span>{{ etude.nom}}</span> </h1>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nom des plages associées à l'étude " {{ etude.nom }} "</th>
        </tr>
        </thead>
        <tbody>
        {% for plage in etude.EtudeHasPlage %}
            <tr class="tr_hover" onclick="window.location='/plage/{{ plage.id }}'">
                <td>{{ plage.id }}</td>
                <td>{{ plage.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}
