{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="center maj">LISTE DES ZONES DE PRELEVEMENTS DE LA <span>{{ plage.nom}}</span></h1>
    <div class="center"><button type="button" class="btn btn-success" onclick="window.location='/./zonedeprelevement/new'">Ajouter un prelevement</button></div>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom de la zone de prelevement</th>
            <th scope="col">Position X1</th>
            <th scope="col">Position Y1</th>
            <th scope="col">Position X2</th>
            <th scope="col">Position Y2</th>
            <th scope="col">Position X3</th>
            <th scope="col">Position Y3</th>
            <th scope="col">Position X4</th>
            <th scope="col">Position Y4</th>
        </tr>
        </thead>
        <tbody>
        {% for zonedeprelevement in plage.zonedeprelevements %}
            <tr class="tr-hover" onclick="window.location='/zonedeprelevement/{{ zonedeprelevement.id }}'">
                <td>{{ zonedeprelevement.id }} </td>
                <td>{{ zonedeprelevement.nom }} </td>
                <td>{{ zonedeprelevement.positionx1 }} </td>
                <td>{{ zonedeprelevement.positiony1 }} </td>
                <td>{{ zonedeprelevement.positionx2 }} </td>
                <td>{{ zonedeprelevement.positiony2 }} </td>
                <td>{{ zonedeprelevement.positionx3 }} </td>
                <td>{{ zonedeprelevement.positiony3 }} </td>
                <td>{{ zonedeprelevement.positionx4 }} </td>
                <td>{{ zonedeprelevement.positiony4 }} </td>
            </tr>
        {% else %}
            <p>Il n'y a pas encore d'article</p>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
